/*textarea*/
html{background-color: white;}
input[type=text], select, textarea{
    width: auto;
    padding: 12px;
    border-radius:4px;

}
/*submit button*/
input[type=reset]{
    background-color: rgb(100, 20, 30);
    color: balck;
    border-radius: 4px;
    cursor: pointer;
}
 input[type=submit]{
    background-color: rgb(20, 200, 120);
    color: balck;
    border-radius: 4px;
    cursor: pointer;
  
}
input[type=range]{
    -webkit-appearance: button-bevel;
    border-radius: 6px;
    cursor:crosshair;
}
body{
    border: 2px solid;
    background-color: rgb(60, 100, 80);
    margin-left: 100px;
    margin-right: 150px;
}

